@page
@model IndexModel
@{
    ViewData["Title"] = "My Scripture Journal";
}

<div class="text-center">
    <h1>My Scripture Journal</h1>
    <p>Study the scriptures with purpose</p>

    <a asp-page="/Scriptures/Index">
        <img src="~/images/jesus_walking_on_water.jpeg" alt="Jesus walks on water" />
    </a>

    <div class="side-card">
        <h2>John 3:16</h2>
        <p>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</p>
    </div>

</div>
